odoo/custom_addons/smart_report_builder/n8n_workflow.json
{
  "name": "Smart Report Builder - Claude AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smart-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract data from Odoo webhook\nconst body = $input.first().json.body;\n\nconst query = body.query;\nconst today = body.today;\nconst models = body.models;\n\n// Build a concise schema description for Claude\nlet schemaText = '';\nfor (const [modelName, info] of Object.entries(models)) {\n  schemaText += `\\n## ${modelName} (${info.name})\\n`;\n  schemaText += 'Fields: ';\n  const fieldEntries = Object.entries(info.fields)\n    .map(([fname, f]) => {\n      let desc = `${fname} (${f.type}, \"${f.label}\")`;\n      if (f.options) desc += ` [options: ${f.options.map(o => o[0]).join(', ')}]`;\n      if (f.relation) desc += ` → ${f.relation}`;\n      return desc;\n    });\n  schemaText += fieldEntries.join(', ') + '\\n';\n}\n\nreturn [{\n  json: {\n    query,\n    today,\n    schemaText\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.CLAUDE_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1024,\n  system: `You are an Odoo 18 report query generator. You translate natural language questions into Odoo read_group parameters.\n\nToday's date: ${$json.today}\n\nAvailable Odoo models and fields:\n${$json.schemaText}\n\nRULES:\n1. Return ONLY valid JSON, no markdown, no explanation\n2. Use exact field names from the schema above\n3. For many2one fields in groupby, use just the field name (e.g. \"partner_id\")\n4. For measures, use \"field_name:agg\" format (e.g. \"amount_total:sum\", \"id:count\")\n5. For date grouping, use \"field:month\" or \"field:quarter\" or \"field:year\"\n6. Domain uses Odoo domain syntax: [[\"field\", \"operator\", value]]\n7. For relative dates, compute from today's date\n8. Always include chart_type: one of \"bar\", \"line\", \"pie\", \"table\"\n9. Always include a descriptive title\n\nResponse JSON format:\n{\n  \"model\": \"sale.order\",\n  \"domain\": [[\"state\", \"in\", [\"sale\", \"done\"]]],\n  \"groupby\": [\"user_id\"],\n  \"measures\": [\"amount_total:sum\"],\n  \"chart_type\": \"bar\",\n  \"title\": \"Total Sales by Salesperson\",\n  \"order\": \"amount_total desc\",\n  \"limit\": null\n}`,\n  messages: [\n    {\n      role: 'user',\n      content: $json.query\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 25000
        }
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response\nconst response = $input.first().json;\n\ntry {\n  // Extract text from Claude's response\n  let text = '';\n  if (response.content && Array.isArray(response.content)) {\n    text = response.content\n      .filter(block => block.type === 'text')\n      .map(block => block.text)\n      .join('');\n  }\n\n  // Clean up: remove markdown code fences if present\n  text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  // Parse the JSON\n  const result = JSON.parse(text);\n\n  // Validate required fields\n  const required = ['model', 'domain', 'groupby', 'measures'];\n  for (const field of required) {\n    if (!(field in result)) {\n      throw new Error(`Missing required field: ${field}`);\n    }\n  }\n\n  return [{ json: result }];\n\n} catch (err) {\n  // Return error details for debugging\n  return [{\n    json: {\n      error: `Failed to parse AI response: ${err.message}`,\n      raw_response: response.content?.[0]?.text?.substring(0, 500) || 'No response'\n    }\n  }];\n}"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare Context", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Context": {
      "main": [
        [{ "node": "Claude API", "type": "main", "index": 0 }]
      ]
    },
    "Claude API": {
      "main": [
        [{ "node": "Parse Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
